<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Menu EOL</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
  </head>
  <body>
    <div class="menu-container">
      <h1>Bienvenue sur le banc EOL</h1>
      <div class="menu-buttons">
        <button onclick="location.href='/barcode'">Code-barres</button>
        <button onclick="location.href='/select-model'">
          Sélection modèle
        </button>
        <button onclick="location.href='/dev'">Développement</button>
      </div>
    </div>
  </body>
</html>
