<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>EOL – Select Model</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/select-model.css') }}"
    />
  </head>
  <body>
    <a href="/" id="backButton">← Retour</a>
    <h1>Sélection modèle / Led Test</h1>
    <div class="container">
      <div class="section">
        <input
          list="modelOptions"
          id="modelSelect"
          placeholder="Sélectionner un modèle"
        />
        <datalist id="modelOptions"></datalist>
        <br /><br />
        <button id="startTestBtn" style="display: none">Lancer le test</button>
      </div>

      <div class="result" id="testResult"></div>

      <div id="chartContainer">
        <canvas id="chart"></canvas>
      </div>

      <div class="logpath" id="logPath"></div>
      <div class="logpath" id="lastTestLog"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/select-model.js') }}"></script>
  </body>
</html>
